<div class="row">
    <div class="col s12">
        <div class="card z-depth-2">
            <% if team.avatar? %>
            <div class="card-content" style="background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,0)), url(<%= team.avatar.url(:preview) %>) no-repeat;">
            <% else %>
                <div class="card-content" style="background: linear-gradient(to right, transparent, transparent, <%= team.hexcolor %>);">
                    <% end %>
                    <span class="card-title">
                        <%= team.name %>
                        <br/>
                    </span>
                    <p>
                        <span>
                            <% if team.private%>
                            <i class="material-icons circle tooltipped" data-position="bottom" data-delay="50" data-tooltip="Team is private">lock</i>
                        <% else %>
                            <i class="material-icons circle tooltipped" data-position="bottom" data-delay="50" data-tooltip="Team is public">lock_open</i>
                            <% end %>
                            <% if current_user.present? && current_user.teams.include?(team) %>
                            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="You are a member">account_circle</i>
                            <% end %>
                            <% if current_user.present? && @current_user_admin %>
                            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="You are the owner">grade</i>
                            <% end %>
                        </span><br/>
                        <%= team.description %><br/>
                        <% if team.private? %>
                        code
                        <%= team.invitecode %><br/>
                        <% end %>
                        <!-- Team Color:
                    <span style="background-color: <%= team.hexcolor %>;"><%= team.hexcolor %></span><br/> -->
                        <%= @stats['avg_steps'] %>
                        average steps
                    </p>
                </div>
                <div class="card-action">
                    <% if !@team.users.include?(current_user) && !@team.private %>
                    <%= link_to 'Join', user_teams_create_path(invitecode: @team.invitecode), method: :create %>
                    <% end %>
                    <% if @current_user_admin %>
                    <%= link_to 'Update', edit_team_path(@team) %>
                    <%= link_to 'Disband', @team, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-2">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a class="active" href="#users">Members</a>
                        </li>
                        <li class="tab">
                            <a href="#events">Events</a>
                        </li>
                    </ul>
                </div>
                <div class="card-content">
                    <div id="users">
                        <ul class="collection">
                            <% counter = 1 %>
                            <% @standings.each do |standing| %>
                            <%= render :partial=>"events/user_preview", :locals => {:marker => standing, :counter => counter, :range => @range} %>
                            <% counter += 1 %>
                            <% end %>
                        </ul>
                    </div>
                    <div id="events">
                        <ul class="collection">
                            <% team.events.each do |event| %>
                            <% if !event.private? %>
                            <%= link_to render(:partial=>"events/events_preview", :locals => {:event => event}), event %>
                        <% else %>
                            <%= link_to render(:partial=>"events/events_preview", :locals => {:event => event}), join_team_event_path(event) %>
                            <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
