<div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
        <% if team.avatar? %>
        <%= image_tag team.avatar.url(:preview), :class => "activator" %>
        <% end %>
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            <%= team.name %>
            <% if team.private%>
            <i class="material-icons">lock</i>
        <% else %>
            <i class="material-icons">lock_open</i>
            <% end %>
            <i class="material-icons right">more_vert</i>
        </span>
        <p>
            description here
        </p>
    </div>
    <div class="card-action">
        <%= link_to 'View', team %>
        <% if team.is_current_user_admin %>
        <%= link_to 'Edit', edit_team_path(team) %>
        <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <% if current_user.present? && !current_user.teams.include?(team) && !team.private %>
        <%= button_to 'Join', user_teams_create_path, :class => 'join-button', params: { 'invitecode' => team.invitecode } %>
        <% end %>
        <% if current_user.present? && !current_user.teams.include?(team) && team.private %>
        <%= button_to 'Join', join_team_path, :method => :get, :class => 'join-button', params: { 'invitecode' => team.invitecode } %>
        <% end %>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= team.name %>
            <i class="material-icons right">close</i>
        </span>
        <ul class="collection">
            <li class="collection-item">
                <b>Hex Color:
                </b>
                <span style="color: <%= team.hexcolor %>;">◉</span>
                <span><%= team.hexcolor %></span>
            </li>
        </ul>
    </div>
</div>
