<li class="collection-item avatar" style="background: linear-gradient(to right, transparent, transparent, <%= marker['hexcolor'] %>);">
    <%= image_tag marker['avatar'], :class => 'circle z-depth-3' %>
    <span class="title"><%= counter %>.
        <%= marker['name'] %></span>
    <p>
        <b>Today: </b>
        <%= number_with_delimiter(marker['steps']) %> steps<br/>
        <b><%= range + 1 %> day total: </b>
        <%= number_with_delimiter(marker["total_steps"]) %> steps<br/>
        <b><%= range + 1 %> day streak:</b>
        <% marker['goals'].each do |goal_met| %>
          <% if goal_met %>
            <span style="color: green;">&#10004;
            </span>
          <% else %>
            <span style="color: red;">&#10007;
            </span>
          <% end %>
        <% end %>
    </p>
</li>
