<% provide(:title, "Leaderboard") %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <% if current_user.present? %>
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
            <%= render :partial=>"layouts/sidenav" %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                All Teams
            </div>
            <ul class="collection">
                <% @teams.each do |team| %>
                <%= render :partial=>"teams/teams_preview", :locals => {:team => team} %>
                <% end %>
            </ul>
        </div>
    <% else %>
        <div class="feed col s12">
            <% @teams.each do |team| %>
            <%= render :partial=>"teams/teams_preview", :locals => {:team => team} %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
