<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @team.private %>
</p>

<p>
  <strong>Hexcolor:</strong>
  <%= @team.hexcolor %>
</p>

<p>
  <strong>Invitecode:</strong>
  <%= @team.invitecode %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Dashboard', dashboard_path %>
