<% provide(:title, @team.name) %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
            <%= render :partial=>"layouts/sidenav" %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                <%= @team.name %>
            </div>
            <%= render :partial=>"teams/show_team", :locals => {:team => @team} %>
        </div>
    </div>
</div>
