<div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
        <% @teams.each do |team, index| %>
        <% if index == 0 %>
        <li class="tab">
            <a href="#team<%= team.id %>" class="active"><%= team.name %></a>
        </li>
    <% else %>
        <li class="tab">
            <a href="#team<%= team.id %>"><%= team.name %></a>
        </li>
        <% end %>
        <% end %>
    </ul>
</div>
<div class="card-content">
    <% @teams.each.with_index(1) do |team, index| %>
    <div id="team<%= team.id %>">
        <ul class="collection with-header">
            <%= render :partial=>"events/team/team_preview", :locals => {:team => team, :index => index, :range => @range} %>
            <% team.users.each.with_index(1) do |user, index| %>
                <%= render :partial=>"events/team/user_preview", :locals => {:user => user, :index => index, :range => @range} %>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>
