<div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
        <% if event.avatar? %>
        <%= image_tag event.avatar.url(:preview), :class => "activator" %>
    <% else %>
        <%= image_tag event.static_map_preview, :class => "activator" %>
        <% end %>
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            <%= event.name %>
            <% if event.team_event %>
            <i class="material-icons">supervisor_account</i>
        <% else %>
            <i class="material-icons">perm_identity</i>
            <% end %>
            <% if event.private%>
            <i class="material-icons">lock</i>
        <% else %>
            <i class="material-icons">lock_open</i>
            <% end %>
            <i class="material-icons right">more_vert</i>
        </span>
        <p>
            <%= event.description %>
        </p>
    </div>
    <div class="card-action">
        <% if current_user.present? %>
          <% if event.users.include?(current_user) || !event.private || event.createdby == current_user.id %>
            <%= link_to 'View', event %>
          <% end %>
        <% end %>

        <% if current_user.present? && current_user.id == event.createdby %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

        <% if event.team_event %>
          <%= button_to 'Join', join_team_event_path(event), method: :get, :class => 'join-button'%>
        <% else %>
          <% if current_user.present? && !current_user.events.include?(event) %>
            <% if event.private %>
              <%= button_to 'Join', join_event_path, method: :get, :class => 'join-button' %>
            <% else %>
              <%= button_to 'Join', user_events_create_path, :class => 'join-button', params: { 'invitecode' => event.invitecode } %>
            <% end %>
          <% end %>
        <% end %>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= event.name %>
            <i class="material-icons right">close</i>
        </span>
        <ul class="collection">
            <li class="collection-item">
                <b>Dates:
                </b><%= event.start_date %>
                -
                <%= event.finish_date %></li>
            <li class="collection-item">
                <b>Route:
                </b><%= event.start_location %>
                -
                <%= event.end_location %></li>
            <% if current_user.present? && current_user.events.include?(event) && event.private %>
            <li class="collection-item">
                <b>Code:
                </b>
                <%= event.invitecode %></li>
            <% end %>
        </ul>
    </div>
</div>
