<%= link_to event do %>
<% if event.avatar? %>
<li class="collection-item avatar" style="background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1), rgba(255,255,255,0)), url(<%= event.avatar.url(:preview) %>) no-repeat;">
<% else %>
    <li class="collection-item avatar" style="background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.1), rgba(255,255,255,0)), url('<%= event.static_map_preview %>') no-repeat;">
        <% end %>
        <% if event.private%>
        <i class="material-icons circle tooltipped" data-position="bottom" data-delay="50" data-tooltip="Event is private">lock</i>
    <% else %>
        <i class="material-icons circle tooltipped" data-position="bottom" data-delay="50" data-tooltip="Event is public">lock_open</i>
        <% end %>
        <span class="title"><%= event.name %></span>
        <p>
            <span>
                <% if event.team_event? %>
                <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Team event">group</i>
                <% end %>
                <% if current_user.present? && current_user.events.include?(event) %>
                <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="You are enrolled">account_circle</i>
                <% end %>
                <% if current_user.present? && event.createdby == current_user.id %>
                <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="You are the creator">grade</i>
                <% end %>
            </span><br/>
            <%= event.description %><br/>
            <%= event.start_date %>
            -
            <%= event.finish_date %><br/>
            <%= event.start_location %>
            -
            <%= event.end_location %>
        </p>
    </li>
    <% end %>
