<div id = "new_event_form">
<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %>
        prohibited this event from being saved:</h2>

    <ul>
        <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
</div>
<div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :maxlength => 200 %>
</div>

<% if @event.avatar? %>

  <p>
      <strong>Current Team Logo:</strong>
      <%= image_tag @event.avatar.url(:thumb) %>
  </p>

<% end %>

<div class="field">
    <%= f.label :avatar, 'Event logo' %><br/>
    <%= f.file_field :avatar %>
</div>
<div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date, class: "datepicker", :required => true%>
</div>
<div class="field">
    <%= f.label :finish_date %><br>
    <%= f.text_field :finish_date, class: "datepicker"%>
</div>
<div class="field">
    <%= f.label :start_location %><br>
    <%= f.text_field :start_location, :required => true %>
</div>
<div class="field">
    <%= f.label :end_location %><br>
    <%= f.text_field :end_location, :required => true %>
</div>
<div class="field">
    <%= f.label :distance, 'Distance (meters)' %><br>
    <%= f.text_field :distance, :readonly => true %>
</div>
<div class="field">
    <div class="switch">
        <label>
            Public
            <%= f.check_box :private, {}, "true", "false" %>
            <span class="lever"></span>
            Private
        </label>
    </div>
</div>

<% if @edit == false %>
<div class="field">
    <div class="switch">
      <% if @teams.empty? %>
      <p>Sorry you don't have any teams to create a team event. Create your first team <%= link_to 'here', new_team_path %>!</p>
      <% end %>
        <label>
            Individual Event
            <% if @teams.empty? %>
              <input disabled type="checkbox">
            <% end %>
              <%= f.check_box :team_event, {}, "true", "false" %>
            <span class="lever"></span>
            Team Event
        </label>
    </div>
</div>
<% end %>

<% if !@teams.empty? %>
  <div class="field teams" style="display: none;">
    <p>You must select a team enroll:</p>
    <% @teams.each do |team|%>
        <p>
          <input type="radio" name="team_id" value="<%= team.id %>" id ="<%= team.id %>">
          <label for="<%= team.id %>"><%= team.name %></label>
        </p>
    <% end %>
  </div>
<% end %>

<%= f.hidden_field :event_type %>

<br/>
<div id="eventMap" style="height: 400px;"></div>
<br/>
<div class="actions">
    <%= f.submit class: 'waves-effect waves-light btn' %>
</div>

<% end %>
</div>
