<div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
        <% @teams.each do |team, index| %>
        <% if index == 0 %>
        <li class="tab">
            <a href="#team<%= team.id %>" class="active"><%= team.name %></a>
        </li>
    <% else %>
        <li class="tab">
            <a href="#team<%= team.id %>"><%= team.name %></a>
        </li>
        <% end %>
        <% end %>
    </ul>
</div>
<div class="card-content">
    <% @teams.each do |team| %>
    <div id="team<%= team.id %>">
        <ul class="collection with-header">
            <li class="collection-header" style="background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,0)), url(<%= team.avatar.url(:preview) %>) no-repeat;">
                <% if team.avatar? %>
                <% end %>
                <h4><%= team.name %></h4>
            </li>
            <% team.users.each do |user| %>
            <li class="collection-item avatar" style="background: linear-gradient(to right, transparent, transparent, <%= user.hexcolor %>);">
                <%= image_tag user.avatar.url, :class => 'circle z-depth-3' %>
                <span class="title">
                    <%= user.name %></span>
                <p>
                    <%= user.steps %>
                    steps<br/>
                    Streak:
                    <% if user.goal_met %>
                    <span style="color: green;">&#10004;
                    </span>
                <% else %>
                    <span style="color: red;">&#10007;
                    </span>
                    <% end %>
                </p>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>
