<% provide(:title, "All Events") %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <% if current_user.present? %>
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
            <%= render :partial=>"layouts/sidenav" %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                All Events
            </div>
            <ul class="collection">
                <% @events.each do |event| %>
                <%= render :partial=>"events/events_preview", :locals => {:event => event} %>
                <% end %>
            </ul>
        </div>
    <% else %>
        <div class="feed col s12">
            <% @events.each do |event| %>
            <%= render :partial=>"events/events_preview", :locals => {:event => event} %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
