<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Finish date</th>
      <th>Start location</th>
      <th>End location</th>
      <th>Invite Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date %></td>
        <td><%= event.finish_date %></td>
        <td><%= event.start_location %></td>
        <td><%= event.end_location %></td>
        <td><%= event.invitecode %></td>
        <td><%= link_to 'Show', event %></td>
        <% if current_user.present? && current_user.id == event.createdby %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %> |
<%= link_to 'Dashboard', dashboard_path %>
