<% provide(:title, "New Event") %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
            <%= render :partial=>"layouts/sidenav" %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                New Event
            </div>

            <%= render 'new_event_type' %>
            <%= render 'form' %>
            <%= render 'create_event_map' %>

        </div>
    </div>
</div>

<%= render 'new_event_js' %>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ENV['GOOGLE_API_KEY'], defer:true, async:true%>
