<p>
    <strong>Avatar:</strong>
    <%= image_tag @event.avatar.url(:thumb) %>
    <%= image_tag @event.avatar.url(:preview) %>
</p>

<p>
    <strong>Name:</strong>
    <%= @event.name %>
</p>

<p>
    <strong>Type:</strong>
    <% if @event.team_event %>
    <%= "Team" %>
    <% else %>
    <%= "Singles" %>
    <% end  %>
</p>

<p>
    <strong>Start date:</strong>
    <%= @event.start_date %>
</p>

<p>
    <strong>Finish date:</strong>
    <%= @event.finish_date %>
</p>

<p>
    <strong>Start location:</strong>
    <%= @event.start_location %>
</p>

<p>
    <strong>End location:</strong>
    <%= @event.end_location %>
</p>

<p>
    <strong>Invite Code:</strong>
    <%= @event.invitecode %>
</p>

<%= link_to 'Back', events_path %>
|
<%= link_to 'Dashboard', dashboard_path %>

<% if current_user.present? && current_user.id == @event.createdby %>
|
<%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
