<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @event.finish_date %>
</p>

<p>
  <strong>Start location:</strong>
  <%= @event.start_location %>
</p>

<p>
  <strong>End location:</strong>
  <%= @event.end_location %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'Dashboard', dashboard_path %>

<% if current_user.id == @event.createdby %>
  <br />
  <br />
  <h5>Invite Users to Events</h5>

  <%= form_tag user_events_create_path do %>
    <p>
      <%= text_field_tag 'user_id', nil,  placeholder: 'Enter username here' %>
      <%= hidden_field_tag 'event_id', @event.id %>
      <%= submit_tag "Add User" %>
    </p>
  <% end %>
<% end %>
