<% provide(:title, @event.name) %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <% if current_user.present? %>
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
            <%= render :partial=>"layouts/sidenav" %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                <%= @event.name %>
            </div>
            <%= render :partial=>"events/show_event", :locals => {:event => @event} %>
        </div>
    <% else %>
        <div class="feed col s12">
            <div class="feed-title">
                <%= @event.name %>
            </div>
            <%= render :partial=>"events/show_event", :locals => {:event => @event} %>
        </div>
        <% end %>
    </div>
</div>
