<% provide(:title, "Dashboard") %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
            <%= render :partial=>"layouts/events_nav" %>
            <%= render :partial=>"layouts/teams_nav" %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                My Dashboard
            </div>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active">
                        <i class="material-icons">today</i>Today</div>
                    <div class="collapsible-body">
                        <p>

                            Today's Steps:
                            <%= @steps %>
                        </br>
                        Daily Steps Goal:
                        <%= @goal %>
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <!-- <span class="new badge">4</span> -->
                    <i class="material-icons">comment</i>Messages</div>
                <div class="collapsible-body">
                    <p>No messages.</p>
                </div>
            </li>
            <li>
                <%= render :partial=>"pages/badges" %>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">settings</i>All Data</div>
                <div class="collapsible-body">
                    <pre>
                        <%= JSON.pretty_generate(@info) %>
                    </pre>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
