<% provide(:title, "Dashboard") %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
            <%= render :partial=>"layouts/events_nav" %>
            <%= render :partial=>"layouts/teams_nav" %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                My Dashboard
            </div>
            <div class="output-wrapper">
              Today's Steps: <%= @steps %> </br>
              Daily Steps Goal: <%= @goal %> </br>
              <% if !@activities.empty? %>
                <% @activities.each do |activity| %>
                  Entry Date: <%= activity.entry_date %> | Steps: <%= activity.steps %> </br>
                <% end %>
              <% end %>
              <% fitbit_identity = @user.identities.where(provider: 'fitbit').first %>
              User ID: <%= fitbit_identity.uid%> </br>
            </div>
        </div>
    </div>
</div>
