<% provide(:title, "Dashboard") %>

<p>Welcome <%= @user.name %>,</p>
<p><%= image_tag @user.avatar.url %></p>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<br />
<br />
<%= link_to('Create an event', new_event_path) %>
<br />
<br />
<%= link_to('Join an event', join_event_path) %>

<br />
<br />

<% if @participating_events.present?%>
<h4>Events Participating</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Finish date</th>
      <th>Start location</th>
      <th>End location</th>
      <th>Invite Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participating_events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date %></td>
        <td><%= event.finish_date %></td>
        <td><%= event.start_location %></td>
        <td><%= event.end_location %></td>
        <td><%= event.invitecode %></td>
        <td><%= link_to 'Show', event %></td>
        <% if current_user.present? && current_user.id == event.createdby %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @user_events.present? %>
<h4>Events Created by <%= @user.name %></h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Finish date</th>
      <th>Start location</th>
      <th>End location</th>
      <th>Invite Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date %></td>
        <td><%= event.finish_date %></td>
        <td><%= event.start_location %></td>
        <td><%= event.end_location %></td>
        <td><%= event.invitecode %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
