<% provide(:title, "Dashboard") %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
            <%= render :partial=>"layouts/events_nav" %>
            <%= render :partial=>"layouts/teams_nav" %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                My Dashboard
            </div>
            <div class="output-wrapper">
              Today's Steps: <%= @steps %> </br>
              Daily Steps Goal: <%= @goal %> </br>
              </br>

              Daily Achievements:
              <br />
              <%= image_tag(image_path(@badges["daily"]["image"])) %><br />
              <%= @badges["daily"]["earnedMessage"] %><br />
              <%=  @badges["daily"]["description"] %><br />
              <%=  @badges["daily"]["mobileDescription"] %><br />

              </br></br>

              Lifetime Achievements:
              <br />
              <%= image_tag(image_path(@badges["life"]["image"])) %><br />
              <%= @badges["life"]["earnedMessage"] %><br />
              <%=  @badges["life"]["description"] %><br />
              <%=  @badges["life"]["mobileDescription"] %><br />
            </div>
        </div>
    </div>
</div>
