<li class="collection-item avatar" style="background: linear-gradient(to right, transparent, transparent, <%= user['hexcolor'] %>);">
    <%= image_tag user['avatar'], :class => 'circle z-depth-3' %>
    <span class="title"><%= index %>.
        <%= user['name'] %></span>
    <p>
        <% if @event && !@event.team_event && @date == @event.finish_date %>
            <% if index == 1 %>
            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="User finished <%=index.ordinalize %>">looks_one</i>
            <% end %>
            <% if index == 2 %>
            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="User finished <%=index.ordinalize %>">looks_two</i>
            <% end %>
            <% if index == 3 %>
            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="User finished <%=index.ordinalize %>">looks_3</i>
            <% end %>
        <% end %>
        <% if user['goals'].last && @date < @event.finish_date %>
        <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Daily goal reached">assignment_turned_in</i>
        <% end %>
        <% if false %>
        <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="User is on a streak">trending_up</i>
        <% end %>
        <br/>
        <b>Steps <%= @date.today? ? "today" : @date.strftime("on %b %d") %>: </b>
        <%= number_with_delimiter(user['steps']) %> steps<br/>
        <b><%= range + 1 %> day total<%= @date.today? ? "" : @date.strftime(" on %b %d") %>: </b>
        <%= number_with_delimiter(user['total_steps']) %> steps<br/>
        <b><%= range + 1 %> day streak<%= @date.today? ? "" : @date.strftime(" on %b %d") %>:</b>
        <% user['goals'].each do |goal_met| %>
            <% if goal_met %>
            <span style="color: green;">&#10004;
            </span>
        <% else %>
            <span style="color: red;">&#10007;
            </span>
            <% end %>
        <% end %>
    </p>
</li>
